################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PulumiTemplate/.vs/PulumiTemplate
/PulumiTemplate/PulumiTemplate/bin
/PulumiTemplate/PulumiTemplate/obj